# Nintendo SplatNet 2 "iksm_session" value
NINTENDO_SESSION_ID=

# Google Calendar ICS URL for Salmon Run schedules
# Provided by: https://www.reddit.com/user/thejellydude
SALMON_RUN_CALENDAR_ICS_URL=https://calendar.google.com/calendar/ical/7e5g474p0ng7vaejkg3mkomhks%40group.calendar.google.com/public/basic.ics

# (Optional) Sentry error reporting (https://sentry.io)
SENTRY_DSN=
