{
    "eu": [
        {
            "times": {
                "result": 1504450800,
                "announce": null,
                "start": 1504360800,
                "end": 1504447200
            },
            "names": {
                "alpha_short": "Flight",
                "bravo_long": "The power of\nINVISIBILITY!",
                "bravo_short": "Invisibility",
                "alpha_long": "The power of\nFLIGHT!"
            },
            "festival_id": 5051,
            "images": {
                "panel": "/images/festival/640c5aa1d2f83c3b9b7a0a06fd3585a8.png",
                "bravo": "/images/festival/554d96de9077e6851bf65a8a205af527.png",
                "alpha": "/images/festival/040068b6fbdb4ed7e0200e1025616171.png"
            },
            "special_stage": {
                "image": "/images/stage/77f1b9058f27c0215effd00feb5c6b6623b8d5b1.png",
                "id": "9999",
                "name": "Shifty Station"
            },
            "colors": {
                "middle": {
                    "b": 0.603,
                    "css_rgb": "rgb(93%,15%,60%)",
                    "a": 1,
                    "r": 0.929,
                    "g": 0.152
                },
                "bravo": {
                    "r": 0.419,
                    "g": 0.835,
                    "a": 1,
                    "css_rgb": "rgb(42%,84%,17%)",
                    "b": 0.172
                },
                "alpha": {
                    "r": 0.309,
                    "g": 0.333,
                    "a": 1,
                    "css_rgb": "rgb(31%,33%,93%)",
                    "b": 0.929
                }
            }
        }
    ],
    "jp": []
}
