// Images
$bg-squids: url(../img/bg-squids.png);
$bg-stripes: url(../img/bg-stripes.png);
$bg-dots: url(../img/bg-dots.png);
$bg-spots: url(../img/bg-spots.png);
$bg-mask-product: url(../img/bg-mask-product.png);
$bg-mask-title-squid: url(../img/bg-mask-title-squid.png);
$bg-mask-hook: url(../img/bg-mask-hook.png);
$bg-mask-banner: url(../img/bg-mask-banner.png);

// Colors
$bg-battle-regular: #19d719;
$bg-battle-ranked: #f54910;
$bg-battle-league: #f02d7d;

// Backgrounds
.bg-squids {
    background-image: $bg-squids;
    background-position: top;
    background-size: 360px 360px;
}

.bg-stripes {
    background-image: $bg-stripes;
    background-position: top;
    background-size: 80px 80px;
}

.bg-spots-dots {
    background-image : $bg-spots, $bg-dots;
    background-position: 50% top;
    background-size: 189px 189px, 40px 40px;
}

// Background masks
.bg-mask-product {
    -webkit-mask-image: $bg-mask-product;
    mask-image: $bg-mask-product;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 600px 960px; // Original value: 500px 800px
    mask-size: 600px 960px;
    -webkit-mask-position: center top;
    mask-position: center top;
}

.bg-mask-title-squid {
    -webkit-mask-image: $bg-mask-title-squid;
    mask-image: $bg-mask-title-squid;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: right center;
    mask-position: right center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.bg-mask-hook {
    -webkit-mask-image: $bg-mask-hook;
    mask-image: $bg-mask-hook;
    -webkit-mask-size: 36px 29px;
    mask-size: 36px 29px;
    -webkit-mask-position: center top;
    mask-position: center top;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.bg-mask-banner {
    -webkit-mask-image: $bg-mask-banner;
    mask-image: $bg-mask-banner;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
}
