.font-splatoon1 {
    font-family: Splatoon1, $family-sans-serif;
}

.font-splatoon2 {
    font-family: Splatoon2, $family-sans-serif;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.button.is-clear {
    @extend .text-shadow;

    background: rgba($white-ter, 0.4);
    border: rgba($white-ter, 0.9);
    color: $white-ter;

    &:hover {
        background: rgba($white, 0.5);
        border: rgba($white, 1.0);
        color: $white;
    }
}

.button.is-rounded {
    border-radius: 100px;
    padding-left: 12px;
    padding-right: 12px;
}

.hand {
    cursor: pointer;
}

.title-color {
    color: $title-color;
}

.title-squid {
    background-color: $purple;
    color: $title-color;
    @extend .bg-stripes;
    @extend .bg-mask-title-squid;

    display: inline-block;

    padding: 2px 48px 2px 20px;
    margin: 0 0 10px -20px;
}

.tilt-right {
    -webkit-transform: rotate(1.4deg);
    transform: rotate(1.4deg);
}

.tilt-right-slight {
    -webkit-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
}

.tilt-left {
    -webkit-transform: rotate(-1.4deg);
    transform: rotate(-1.4deg);
}

.tilt-left-slight {
    -webkit-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
}

.columns.is-slim {
    margin-left: -0.4rem;
    margin-right: -0.4rem;

    .column {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
}
