@import '~bulma/sass/utilities/initial-variables';

$text: $grey-lighter;
$text-strong: $white-ter;
$title-color: $white-ter;
$subtitle-color: $grey-lighter;

$purple: #460fc8;

// Temp: This can be removed after Bulma 0.5.1
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
