@import './fonts';
@import './variables';
@import '~bulma';
@import './modifiers';
@import './backgrounds';
@import './boxes';

html {
    @extend .bg-squids;
}

body #main {
    transition: filter 0.15s ease;
}

body.has-modal #main {
    filter: blur(4px);
}

.fa {
    &:before {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.squid-refresh {
    &:before {
        @extend .font-splatoon2;
        content: "\e066";
    }
}

.squid-squid {
    &:before {
        @extend .font-splatoon2;
        content: "\e065";
    }
}

.squid-icon-tilt {
    transform: rotate(25deg);
}

.main-schedule-box {
    @extend .product-box;
    @extend .bg-stripes-gradient;
    @extend .text-shadow;

    max-width: 600px;
    padding: 35px 10px 10px 10px;
    margin: auto;

    &.splatfest-schedule-box {
        // Provide a little more room for the third Splatfest stage
        max-width: 720px;
        mask-size: 730px 1168px;
    }

    &.regular {
        background-color: $bg-battle-regular;
    }

    &.ranked {
        background-color: $bg-battle-ranked;
    }

    &.league {
        background-color: $bg-battle-league;
    }
}

.modal-card.schedule-box {
    @extend .modal-card-product-box;
    @extend .text-shadow;

    .modal-card-head {
        @extend .bg-spots-dots;
    }
    .modal-card-body {
        @extend .bg-stripes-gradient;
    }

    &.regular {
        .modal-card-head {
            background-color: mix($bg-battle-regular, $black-ter, 25%);
        }
        .modal-card-body {
            background-color: $bg-battle-regular;
        }
    }

    &.ranked {
        .modal-card-head {
            background-color: mix($bg-battle-ranked, $black-ter, 25%);
        }
        .modal-card-body {
            background-color: $bg-battle-ranked;
        }
    }

    &.league {
        .modal-card-head {
            background-color: mix($bg-battle-league, $black-ter, 25%);
        }
        .modal-card-body {
            background-color: $bg-battle-league;
        }
    }
}

.salmon-run {
    @extend .text-shadow;
    max-width: 600px;
    margin: 40px auto 0;

    .hook-box, .hook-box:before {
        background-color: darken(#ff5600, 0%);
        @extend .bg-spots-dots;

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .salmon-run-header, .salmon-run-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .salmon-run-content {
        padding: 10px;
    }

    .salmon-run-ad-img {
        background-image: url(../img/salmon-run.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 1;

        @include desktop {
            border-top-right-radius: 6px;
        }
    }

    .salmon-run-future {
        background: rgba(0,0,0,0.7);
        padding: 5px 10px 10px;
        margin: 2px -5px;
        border-radius: 12px;
        overflow: hidden;
        line-height: 20px;

        .event:not(:last-child) {
            border-bottom: 0.1rem dashed $grey;
            padding-bottom: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }

    .weapon {
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .calendar-attribution {
        background: rgba(0,0,0,0.5);
        font-family: $family-sans-serif;
        font-size: 0.7rem;
        padding: 2px 20px;
        a {
            color: mix($green, $white-ter, 25%);
        }
    }
}

.splatfest {
    @extend .text-shadow;
    max-width: 500px;
    margin: auto;

    .hook-box, .hook-box:before {
        background-color: #888;
        @extend .bg-stripes-gradient;

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .splatfest-header, .splatfest-content {
        padding: 5px 15px 10px;
    }

    .panel-container {
        position: relative;

        .alpha, .bravo {
            @extend .font-splatoon1;
            @extend .title-color;
            @extend .is-size-5;
            position: absolute;
            bottom: 0.25rem;
        }

        .alpha {
            left: 0.25rem;
        }

        .bravo {
            right: 0.25rem;
        }
    }

    .festival-period-container {
        margin-bottom: 10px;
    }

    .festival-period {
        @extend .bg-mask-banner;
        @extend .bg-stripes;
        background-size: 53px 53px;
        padding: 4px 20px;
    }
}

.about-box {
    position: relative;
    margin-top: 50px;

    .hook-box, .hook-box:before {
        background-color: $purple;
        @extend .bg-stripes-gradient;
    }

    @include desktop {
        .hook-box:before {
            mask-position: calc(50% - 20px) top;
            background-position-x: -20px !important;
        }
        .hook-box {
            margin: 0 40px 0 0;
        }
    }

    .hook-box {
        padding: 25px;
        overflow: visible;
    }

    .hero-image {
        width: 307px;
        height: 250px;
        shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 0 50%);
        margin: -40px -55px 0 0;
    }
}

.main-schedule {
    background: rgba(0,0,0,0.7);
    padding: 5px 10px 10px;
    margin: 0 -5px 15px;
    border-radius: 12px;

    .top-bar {
        margin-bottom: 0.5rem;
    }
}

.stage-image {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    position: relative;

    .stage-title {
        position: absolute;
        right: 3px;
        bottom: 3px;

        padding: 2px 5px;
        max-width: 95%;

        background: rgba(0,0,0,0.7);
        border-radius: 8px;

        font-size: 0.9rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.splatnet-gear-dialog {
    background: rgba($grey-light, 0.25);
    border-radius: 20px;
    padding: 15px;
}

.merchandise-box {
    @extend .product-box;
    @extend .bg-circles;

    mask-size: 500px 800px;

    background-color: $white-ter;
    color: $black;

    border-radius: 15px;
    padding: 38px 10px 0 10px;

    .brand {
        position: absolute;
        top: 6px;
        left: 6px;
    }

    .skill-img-bg {
        display: inline-block;
        line-height: 0;
        vertical-align: middle;
        padding: 3px;
        background: #000;
        border-radius: 50%;
    }

    .skills {
        position: absolute;
        top: 6px;
        right: 6px;
        text-align: center;

        .main, .sub {
            line-height: 0;
            margin: 0 auto 3px;
        }

        .main img {
            width: 30px;
        }

        .sub img {
            width: 22px;
        }
    }

    .remaining-time {
        margin-bottom: 0;
    }

    .gear-image {
        margin: 0 20px;
        transition: transform 0.2s ease;
    }

    &:hover .gear-image {
        transform: scale(1.1);
    }

    .gear-name {
        position: relative;
    }

    .frequent-skill {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        background: rgba($white-ter, 0.9);
        border-radius: 10px;

        opacity: 0;
        transition: opacity 0.2s ease;

        .skill-img-bg img {
            width: 26px;
        }
    }

    &:hover .frequent-skill {
        opacity: 1;
    }

    .bottom-bar {
        @extend .bg-stripes;
        margin-top: 5px;
        margin-left: -10px;
        margin-right: -10px;
        padding: 4px 10px;

        color: $white-ter;
        @extend .text-shadow;

        .cash {
            width: 24px;
            height: 24px;
            vertical-align: text-bottom;
        }
    }

    &.shoes .bottom-bar {
        background-color: #e66900;
    }

    &.head .bottom-bar {
        background-color: #ee156e;
    }

    &.clothes .bottom-bar {
        background-color: #1dd6ad;
    }
}
