@import './fonts';
@import './variables';
@import '~bulma';
@import './modifiers';
@import './backgrounds';
@import './boxes';

html {
    @extend .bg-squids;
    background-color: #191919;
}

.schedule-box {
    @extend .product-box;
    @extend .bg-stripes;
    @extend .text-shadow;

    max-width: 600px;
    padding: 35px 10px 10px 10px;
    margin: auto;

    .schedule-icon {
        display: inline-block;
        width: 42px;
        height: 38px;
        background-size: auto 38px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 4px -4px 0;
    }

    &.regular {
        background-color: $bg-battle-regular;
        .schedule-icon {
            background-image: url(../img/battle-regular.png);
        }
    }

    &.ranked {
        background-color: $bg-battle-ranked;
        .schedule-icon {
            background-image: url(../img/battle-ranked.png);
        }
    }

    &.league {
        background-color: $bg-battle-league;
        .schedule-icon {
            background-image: url(../img/battle-league.png);
        }
    }
}

.salmon-run {
    @extend .text-shadow;
    max-width: 600px;
    margin: 40px auto 0;

    .hook-box, .hook-box:before {
        background-color: darken(#ff5600, 0%);
        @extend .bg-spots-dots;

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .salmon-run-header, .salmon-run-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .salmon-run-content {
        padding-top: 15px;
    }
}

.main-schedule {
    background: rgba(0,0,0,0.7);
    padding: 5px 10px 10px;
    margin: 0 -5px 15px;
    border-radius: 12px;

    .top-bar {
        margin-bottom: 0.5rem;
    }
}

.stage-image {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    position: relative;

    .stage-title {
        position: absolute;
        right: 3px;
        bottom: 3px;

        padding: 2px 5px;
        max-width: 95%;

        background: rgba(0,0,0,0.7);
        border-radius: 8px;

        font-size: 0.9rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
