@import './fonts';
@import './variables';
@import '~bulma';
@import './modifiers';
@import './backgrounds';
@import './boxes';

html {
    @extend .bg-squids;
    background-color: #191919;
}

.fa {
    &:before {
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.squid-refresh {
    &:before {
        @extend .font-splatoon2;
        content: "\e066";
    }
}

.squid-squid {
    &:before {
        @extend .font-splatoon2;
        content: "\e065";
    }
}

.squid-icon-tilt {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.main-schedule-box {
    @extend .product-box;
    @extend .bg-stripes;
    @extend .text-shadow;

    max-width: 600px;
    padding: 35px 10px 10px 10px;
    margin: auto;

    &.regular {
        background-color: $bg-battle-regular;
    }

    &.ranked {
        background-color: $bg-battle-ranked;
    }

    &.league {
        background-color: $bg-battle-league;
    }
}

.modal-card.schedule-box {
    @extend .modal-card-product-box;
    @extend .text-shadow;

    .modal-card-head {
        @extend .bg-spots-dots;
    }
    .modal-card-body {
        @extend .bg-stripes;
    }

    &.regular {
        .modal-card-head {
            background-color: darken($bg-battle-regular, 30%);
        }
        .modal-card-body {
            background-color: $bg-battle-regular;
        }
    }

    &.ranked {
        .modal-card-head {
            background-color: darken($bg-battle-ranked, 30%);
            // background-color: $grey-darker;
            background-color: mix($bg-battle-ranked, $black-ter, 25%);
        }
        .modal-card-body {
            background-color: $bg-battle-ranked;
        }
    }

    &.league {
        .modal-card-head {
            background-color: darken($bg-battle-league, 30%);
        }
        .modal-card-body {
            background-color: $bg-battle-league;
        }
    }
}

.salmon-run {
    @extend .text-shadow;
    max-width: 600px;
    margin: 40px auto 0;

    .hook-box, .hook-box:before {
        background-color: darken(#ff5600, 0%);
        @extend .bg-spots-dots;

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .salmon-run-header, .salmon-run-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .salmon-run-content {
        padding-top: 15px;
    }
}

.main-schedule {
    background: rgba(0,0,0,0.7);
    padding: 5px 10px 10px;
    margin: 0 -5px 15px;
    border-radius: 12px;

    .top-bar {
        margin-bottom: 0.5rem;
    }
}

.stage-image {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;

    position: relative;

    .stage-title {
        position: absolute;
        right: 3px;
        bottom: 3px;

        padding: 2px 5px;
        max-width: 95%;

        background: rgba(0,0,0,0.7);
        border-radius: 8px;

        font-size: 0.9rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
