@import '~bulma/sass/utilities/initial-variables';
@import './main';

#screenshots {
    .main-schedule-box {
        border-radius: 20px;
        mask-size: 800px 1280px; // Original value: 500px 800px
        padding-top: 50px;

        .stage-image:not(:last-child) {
            margin-bottom: 10px;
        }

        .stage-title {
            font-size: 1.35rem;
        }
    }

    .hero-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-foot {
        padding: 0.5rem 0.75rem;
        background: rgba($black-bis, 0.5);
    }

    .featured-merchandise {
        transform: scale(2) rotate(-1.4deg);
        min-width: 173px;
    }

    .salmon-run {
        transform: scale(1.5) rotate(-1.4deg);
    }

    .new-weapon {
        transform: scale(1.25);
    }

    .twitter-logo {
        display: inline-block;
        line-height: 1.4rem;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -5px;
    }

    .time-table td {
        text-align: right;
        padding-left: 0.85rem;
    }
}
