@import '~bulma/sass/utilities/initial-variables';
@import './main';

#screenshots {
    .main-schedule-box {
        border-radius: 20px;
        mask-size: 900px 1440px; // Original value: 500px 800px
        padding-top: 50px;

        .stage-image:not(:last-child) {
            margin-bottom: 10px;
        }

        .stage-title {
            font-size: 1.65rem;
        }
    }

    .hero-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-foot {
        padding: 0.5rem 0.75rem;
        background: rgba($black-bis, 0.5);
    }

    .featured-merchandise {
        transform: scale(1.9) rotate(-1.4deg);
        min-width: 173px;

        .info-overlay {
            opacity: 1;
            transform: none;
            position: static;

            .common-ability {
                display: none;
            }
        }
    }

    .still-available-merchandise {
        transform: scale(0.9);
        margin: -60px 0;

        .merchandise-box {
            font-size: 1.25rem;
        }

        .remaining-time {
            font-size: 1.25rem !important;
        }
    }

    .salmon-run {
        transform: scale(1.85) rotate(-1.4deg);
    }

    .salmon-run-gear .merchandise-box {
        width: 300px;
        transform: scale(1.4);
    }

    .salmon-run-future .event:last-child {
        .salmon-run-details {
            padding-bottom: 0 !important;
        }
    }

    .new-weapon-box {
        max-width: 200px;

        .title-squid {
            font-size: 1rem !important;
        }
    }

    .new-weapons-large .column {
        transform: scale(1.25);
    }

    .splatfest {
        transform: scale(1.1) rotate(-1.4deg);
    }

    .splatfest-results {
        width: 275px;
        transform: scale(1.65);
    }

    .splatfest-screenshot {
        .splatfest {
            transform: scale(1.25) rotate(-1.4deg);
        }
    }

    .twitter-logo {
        display: inline-block;
        line-height: 1.4rem;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -5px;
    }

    .time-table td {
        text-align: right;
        padding-left: 0.85rem;
    }
}
